*{
    margin:0;
    padding:0;
 }
body{
    font-family: sans-serif;
}
.product{
    border:4px solid black;
    width:800px ;
    
}
.flexbox{
    display: flex;
    gap:20px ;
}
.product-heading{
    background-color:rgb(196, 190, 190);
    text-align:center;
    padding:10px;
    margin:6px 0 6px 0;
    
}
.picture{
margin-left:20px ;

}
.shipping{
    text-transform: uppercase;
    font-weight:bold ;
    margin-right:10px ;
    
}
.product-description{
    margin-top:10px ;
    margin-bottom:10px ;
}
.colors{
    display: flex;
    gap:10px ;
}
.color{
    background-color: black;
    height:24px ;
    width:24px ;
    border:1px solid black ;
    margin-top:10px ;
}
.color-red{
    background-color:red ;
}
.color-blue{
    background-color: rgb(41, 41, 102);
}
.color-purple{
    background-color:rgb(233, 122, 233) ;
}
.color-white{
    background-color:white ;
}

.list li{
    margin-top:10px ;
}
.cart{

    padding: 5px;
    width:100%;
    font-size:20px ;
    color:white ;
    font-weight: bold;
    background-color: black;
    cursor:pointer;
}
.cart:hover{
    font-weight:bold ;
    color: black;
    background-color:white ;
}
.price-details{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.container1{
    flex:1 ;
}
.container2{
    flex:1 ;
}















